# Actividad 3
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,
contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los a√±os 2016, 2017,
2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

In [1]:
import pandas as pd
import numpy as np
from datetime import date, time, datetime, timedelta

## Generar un DataFrame con los datos de los cuatro ficheros.

In [2]:
df2016 = pd.read_csv('emisiones-2016.csv', sep=';')
df2016

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,28,79,60,14,28079060_14_6,2016,8,93.0,V,98.0,...,80.0,V,78.0,V,94.0,V,79.0,V,83.0,V
1808,28,79,60,14,28079060_14_6,2016,9,85.0,V,78.0,...,70.0,V,49.0,V,62.0,V,44.0,V,0.0,N
1809,28,79,60,14,28079060_14_6,2016,10,52.0,V,56.0,...,26.0,V,24.0,V,26.0,V,43.0,V,28.0,V
1810,28,79,60,14,28079060_14_6,2016,11,28.0,V,22.0,...,42.0,V,43.0,V,20.0,V,42.0,V,0.0,N
1811,28,79,60,14,28079060_14_6,2016,12,37.0,V,18.0,...,19.0,V,19.0,V,10.0,V,11.0,V,13.0,V

In [3]:
df2017 = pd.read_csv('emisiones-2017.csv', sep=';')
df2017

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2017,1,6.0,V,8.0,...,5.0,V,4.0,V,4.0,V,5.0,V,7.0,V
1,28,79,4,1,28079004_1_38,2017,2,8.0,V,4.0,...,4.0,V,4.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2017,3,5.0,V,7.0,...,4.0,V,5.0,V,7.0,V,7.0,V,5.0,V
3,28,79,4,1,28079004_1_38,2017,4,4.0,V,4.0,...,3.0,V,4.0,V,4.0,V,4.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2017,5,4.0,V,5.0,...,5.0,V,5.0,V,4.0,V,4.0,V,5.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,28,79,60,14,28079060_14_6,2017,8,74.0,V,86.0,...,58.0,V,36.0,V,57.0,V,62.0,V,90.0,V
1808,28,79,60,14,28079060_14_6,2017,9,77.0,V,76.0,...,52.0,V,47.0,V,45.0,V,51.0,V,0.0,N
1809,28,79,60,14,28079060_14_6,2017,10,61.0,V,26.0,...,41.0,V,55.0,V,61.0,V,43.0,V,44.0,V
1810,28,79,60,14,28079060_14_6,2017,11,41.0,V,30.0,...,18.0,V,4.0,V,35.0,V,43.0,V,0.0,N
1811,28,79,60,14,28079060_14_6,2017,12,56.0,V,52.0,...,64.0,V,52.0,V,48.0,V,35.0,V,38.0,V

In [4]:
df2018 = pd.read_csv('emisiones-2018.csv', sep=';')
df2018

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2018,1,1.0,V,1.0,...,2.0,V,2.0,V,6.0,V,5.0,V,6.0,V
1,28,79,4,1,28079004_1_38,2018,2,5.0,V,3.0,...,3.0,V,2.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2018,3,1.0,V,2.0,...,2.0,V,4.0,V,2.0,V,2.0,V,2.0,V
3,28,79,4,1,28079004_1_38,2018,4,2.0,V,3.0,...,1.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2018,5,2.0,V,2.0,...,2.0,V,2.0,V,3.0,V,2.0,V,2.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1801,28,79,60,14,28079060_14_6,2018,8,104.0,V,102.0,...,82.0,V,75.0,V,91.0,V,89.0,V,90.0,V
1802,28,79,60,14,28079060_14_6,2018,9,90.0,V,87.0,...,69.0,V,51.0,V,79.0,V,77.0,V,0.0,N
1803,28,79,60,14,28079060_14_6,2018,10,80.0,V,54.0,...,42.0,V,61.0,V,59.0,V,42.0,V,37.0,V
1804,28,79,60,14,28079060_14_6,2018,11,28.0,V,49.0,...,23.0,V,5.0,V,8.0,V,19.0,V,0.0,N
1805,28,79,60,14,28079060_14_6,2018,12,14.0,V,9.0,...,5.0,V,20.0,V,31.0,V,32.0,V,17.0,V

In [5]:
df2019 = pd.read_csv('emisiones-2019.csv', sep=';')
df2019

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2019,1,18.0,V,20.0,...,15.0,V,15.0,V,15.0,V,14.0,V,14.0,V
1,28,79,4,1,28079004_1_38,2019,2,13.0,V,13.0,...,19.0,V,20.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2019,3,18.0,V,18.0,...,6.0,V,7.0,V,6.0,V,4.0,V,4.0,V
3,28,79,4,1,28079004_1_38,2019,4,3.0,V,4.0,...,3.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2019,5,1.0,V,1.0,...,2.0,V,1.0,V,1.0,V,1.0,V,2.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

In [6]:
#Juntamos todos los datos de todos los a√±os en un mismo dataset

dfconta = pd.concat([df2016,df2017,df2018,df2019],join='inner')
dfconta

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

## Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION,MAGNITUD, A√ëO, MES y las correspondientes a los d√≠as D01, D02, etc.

In [7]:
#Para no tardar tanto, voy a usar el for para filtrar las columnas de los d√≠as
columnasfiltro = ['ESTACION','MAGNITUD','ANO','MES']
for i in range(1,32):
    if i < 10:
        columnasfiltro.append("D0"+str(i))
    else:
        columnasfiltro.append("D"+str(i))

In [8]:
#Esto te ha creado una lista y ya no hace falta poner manualmente los D01,D02...
#Adem√°s te a√±ade los corchetes, para que no tengas que poner el doble corchete
print(columnasfiltro)

['ESTACION', 'MAGNITUD', 'ANO', 'MES', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28', 'D29', 'D30', 'D31']

In [17]:
dfconta[columnasfiltro]

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

## Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los d√≠as aparezcan en una √∫nica columna.

In [18]:
#Hacemos un melt para que los d√≠as aparezcan en la culumna
dfreorganizado = dfconta[columnasfiltro].melt(id_vars= ['ESTACION','MAGNITUD','ANO','MES'],var_name='dia',value_name='valor')
dfreorganizado

        ESTACION  MAGNITUD   ANO  MES  dia  valor
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

## A√±adir una columna con la fecha a partir de la concatenaci√≥n del a√±o, el mes y el d√≠a (usar el m√≥dulo datetime).

In [22]:
#Creamos nueva columna en la que aparezca el d√≠a pero sin la d
dfreorganizado['dia2'] = dfreorganizado['dia'].str.slice(-2)
dfreorganizado

        ESTACION  MAGNITUD   ANO  MES  dia  valor dia2
0              4         1  2016    1  D01    8.0   01
1              4         1  2016    2  D01   12.0   01
2              4         1  2016    3  D01   11.0   01
3              4         1  2016    4  D01    8.0   01
4              4         1  2016    5  D01    7.0   01
...          ...       ...   ...  ...  ...    ...  ...
225241        60        14  2019    8  D31   98.0   31
225242        60        14  2019    9  D31    0.0   31
225243        60        14  2019   10  D31   47.0   31
225244        60        14  2019   11  D31    0.0   31
225245        60        14  2019   12  D31    4.0   31

[225246 rows x 7 columns]

In [16]:
#Creamos una nueva columna con las fechas en formato str
dfreorganizado['cadena_fecha'] = dfreorganizado['dia2'] + '-' + dfreorganizado['MES'].astype(str) + '-' + dfreorganizado['ANO'].astype(str)
dfreorganizado

        ESTACION  MAGNITUD   ANO  MES  dia  valor dia2 cadena_fecha
0              4         1  2016    1  D01    8.0   01    01-1-2016
1              4         1  2016    2  D01   12.0   01    01-2-2016
2              4         1  2016    3  D01   11.0   01    01-3-2016
3              4         1  2016    4  D01    8.0   01    01-4-2016
4              4         1  2016    5  D01    7.0   01    01-5-2016
...          ...       ...   ...  ...  ...    ...  ...          ...
225241        60        14  2019    8  D31   98.0   31    31-8-2019
225242        60        14  2019    9  D31    0.0   31    31-9-2019
225243        60        14  2019   10  D31   47.0   31   31-10-2019
225244        60        14  2019   11  D31    0.0   31   31-11-2019
225245        60        14  2019   12  D31    4.0   31   31-12-2019

[225246 rows x 8 columns]

In [23]:
#La convertimos a formato fecha
#Cuidado, hay que quitarse fechas no v√°lidas como el 30 de febrero o los 31 de septiembre
dfreorganizado['fecha'] = pd.to_datetime(dfreorganizado['cadena_fecha'], format='%d-%m-%Y', errors='coerce')
dfreorganizado

        ESTACION  MAGNITUD   ANO  MES  dia  valor dia2 cadena_fecha      fecha
0              4         1  2016    1  D01    8.0   01    01-1-2016 2016-01-01
1              4         1  2016    2  D01   12.0   01    01-2-2016 2016-02-01
2              4         1  2016    3  D01   11.0   01    01-3-2016 2016-03-01
3              4         1  2016    4  D01    8.0   01    01-4-2016 2016-04-01
4              4         1  2016    5  D01    7.0   01    01-5-2016 2016-05-01
...          ...       ...   ...  ...  ...    ...  ...          ...        ...
225241        60        14  2019    8  D31   98.0   31    31-8-2019 2019-08-31
225242        60        14  2019    9  D31    0.0   31    31-9-2019        NaT
225243        60        14  2019   10  D31   47.0   31   31-10-2019 2019-10-31
225244        60        14  2019   11  D31    0.0   31   31-11-2019        NaT
225245        60        14  2019   12  D31    4.0   31   31-12-2019 2019-12-31

[225246 rows x 9 columns]

## Eliminar las filas con fechas no v√°lidas (utilizar la funci√≥n isnat del m√≥dulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.

In [24]:
#Creamos una condici√≥n que sea True cuando un valor no tenga fecha
#Filtramos por todos los valores que sean lo contrario de esa condici√≥n usando '~'
#Es decir, vamos a quedarnos solo con los valores en que la condici√≥n que hemos puesto sea False
#Los que son False son aquellos valores que s√≠ que son en formato fecha
dffechascorrectas = dfreorganizado[~(np.isnat(dfreorganizado['fecha']))]
dffechascorrectas

        ESTACION  MAGNITUD   ANO  MES  dia  valor dia2 cadena_fecha      fecha
0              4         1  2016    1  D01    8.0   01    01-1-2016 2016-01-01
1              4         1  2016    2  D01   12.0   01    01-2-2016 2016-02-01
2              4         1  2016    3  D01   11.0   01    01-3-2016 2016-03-01
3              4         1  2016    4  D01    8.0   01    01-4-2016 2016-04-01
4              4         1  2016    5  D01    7.0   01    01-5-2016 2016-05-01
...          ...       ...   ...  ...  ...    ...  ...          ...        ...
225238        60        14  2019    5  D31   85.0   31    31-5-2019 2019-05-31
225240        60        14  2019    7  D31   92.0   31    31-7-2019 2019-07-31
225241        60        14  2019    8  D31   98.0   31    31-8-2019 2019-08-31
225243        60        14  2019   10  D31   47.0   31   31-10-2019 2019-10-31
225245        60        14  2019   12  D31    4.0   31   31-12-2019 2019-12-31

[221158 rows x 9 columns]

In [25]:
#Ordenamos los valores por estaciones, contaminantes y fecha
dfordenado = dffechascorrectas.sort_values(['ESTACION','MAGNITUD','fecha'],ascending =True)
dfordenado

        ESTACION  MAGNITUD   ANO  MES  dia  valor dia2 cadena_fecha      fecha
0              4         1  2016    1  D01    8.0   01    01-1-2016 2016-01-01
7266           4         1  2016    1  D02    7.0   02    02-1-2016 2016-01-02
14532          4         1  2016    1  D03    6.0   03    03-1-2016 2016-01-03
21798          4         1  2016    1  D04    6.0   04    04-1-2016 2016-01-04
29064          4         1  2016    1  D05    7.0   05    05-1-2016 2016-01-05
...          ...       ...   ...  ...  ...    ...  ...          ...        ...
196181        60        14  2019   12  D27   17.0   27   27-12-2019 2019-12-27
203447        60        14  2019   12  D28   13.0   28   28-12-2019 2019-12-28
210713        60        14  2019   12  D29   14.0   29   29-12-2019 2019-12-29
217979        60        14  2019   12  D30    5.0   30   30-12-2019 2019-12-30
225245        60        14  2019   12  D31    4.0   31   31-12-2019 2019-12-31

[221158 rows x 9 columns]

In [26]:
#Aunque no se pida en el ejercicio, yo en mi opini√≥n quitar√≠a algunas columnas con informaci√≥n duplicada
#As√≠ queda m√°s limpio
dflimpio = dfordenado[['ESTACION', 'MAGNITUD', 'valor', 'fecha']]
dflimpio

        ESTACION  MAGNITUD  valor      fecha
0              4         1    8.0 2016-01-01
7266           4         1    7.0 2016-01-02
14532          4         1    6.0 2016-01-03
21798          4         1    6.0 2016-01-04
29064          4         1    7.0 2016-01-05
...          ...       ...    ...        ...
196181        60        14   17.0 2019-12-27
203447        60        14   13.0 2019-12-28
210713        60        14   14.0 2019-12-29
217979        60        14    5.0 2019-12-30
225245        60        14    4.0 2019-12-31

[221158 rows x 4 columns]

## Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

No entiendo muy bien que columna presenta los valores de los contaminantes. Entiendo que es la columna llamada Magnitud. Tampoco me cuadra mucho que sea una de las que hemos borrado en los apartados anteriores

In [27]:
#Los valores que toman las estaciones
dflimpio.ESTACION.unique()

array([ 4,  8, 11, 16, 17, 18, 24, 27, 35, 36, 38, 39, 40, 47, 48, 49, 50,
       54, 55, 56, 57, 58, 59, 60])

In [28]:
#No se a lo que se refiere el t√©rmino "Contaminantes", creo que es la magnitud
dflimpio.MAGNITUD.unique()

array([ 1,  6,  7,  8, 12,  9, 10, 14, 20, 30, 35, 42, 43, 44])

## Crear una funci√≥n que reciba una estaci√≥n, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estaci√≥n y rango de fechas dado.

In [29]:
#PEDIMOS LOS VALORES FECHA, ESTACI√ìN Y MAGNITUD AL USUARIO
print('INTRODUZCA EL A√ëO DE INICIO A PARTIR DEL CUAL DESEA CONSULTAR EMISIONES')
#Hay maneras mejores de hacer esto, como por ejemplo, pedir al usuario que escriba la fecha en formato DD-MM-AAAA
#Si ha escrito una fecha incorrecta, hacer que salte un error con un bucle while
#Y m√°s opciones,pero esto requiere tiempo y bucles
#Se me ha ocurrido esta manera porque as√≠ evito errores sin necesidad de poner un bucle
#Pero si por ejemplo el usuario pone una fecha como el 45 de febrero, no se evita ese eror
#Para eso habr√≠a que poner un bucle while
dia_inicio = int(input('Introduzca el DIA a partir del cual desea consultar las emisiones y el valor'))
mes_inicio = int(input('Introduzca el MES a partir del cual desea consultar las emisiones y el valor'))
ano_inicio = int(input('Introduzca el A√ëO a partir del cual desea consultar las emisiones y el valor'))

print('INTRODUZCA EL A√ëO HASTA EL CUAL CUAL DESEA CONSULTAR EMISIONES')
dia_fin = int(input('Introduzca el DIA HASTA cual desea consultar las emisiones y el valor'))
mes_fin = int(input('Introduzca el MES HASTA cual desea consultar las emisiones y el valor'))
ano_fin = int(input('Introduzca el A√ëO HASTA cual desea consultar las emisiones y el valor'))

fecha_inicio = date(ano_inicio, mes_inicio, dia_inicio)
fecha_fin = date(ano_fin, mes_fin, dia_fin)

esta = int(input('Introduzca una estacion '))
magni = int(input('Introduzca una magnitud '))

#CREAMOS LA FUNCION
def filtrofechas(dflimpio, fecha_inicio, fecha_fin, esta, magni):
    filtro = (
        (dflimpio['fecha'] >= str(fecha_inicio))&
        (dflimpio['fecha'] <= str(fecha_fin))&
        (dflimpio['ESTACION']==esta)&
        (dflimpio['MAGNITUD']==magni)
        )
    return dflimpio.loc[filtro, ['valor']]

#APLICAMOS LA FUNCION
filtrofechas(dflimpio, fecha_inicio, fecha_fin, esta, magni) 
#Solo devuelve los valores, porque es lo que se ha pedido

INTRODUZCA EL A√ëO DE INICIO A PARTIR DEL CUAL DESEA CONSULTAR EMISIONES
Introduzca el DIA a partir del cual desea consultar las emisiones y el valor26
Introduzca el MES a partir del cual desea consultar las emisiones y el valor06
Introduzca el A√ëO a partir del cual desea consultar las emisiones y el valor2017
INTRODUZCA EL A√ëO HASTA EL CUAL CUAL DESEA CONSULTAR EMISIONES
Introduzca el DIA HASTA cual desea consultar las emisiones y el valor27
Introduzca el MES HASTA cual desea consultar las emisiones y el valor09
Introduzca el A√ëO HASTA cual desea consultar las emisiones y el valor2018
Introduzca una estacion 4
Introduzca una magnitud 1

        valor
183467    4.0
190733    5.0
197999    5.0
205265    5.0
212531    5.0
...       ...
163484    9.0
170750    9.0
178016    9.0
185282    9.0
192548    9.0

[459 rows x 1 columns]

## Mostrar un resumen descriptivo (m√≠nimo, m√°ximo, media, etc.) para cada contaminante.

In [55]:
dflimpio.groupby('MAGNITUD').valor.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

## Mostrar un resumen descriptivo para cada contaminante por distritos.

Aqu√≠ tambi√©n entiendo que los distritos son las estaciones.

In [57]:
dflimpio.groupby(['ESTACION','MAGNITUD']).valor.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

## Crear una funci√≥n que reciba una estaci√≥n y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estaci√≥n indicada.

In [59]:
#PEDIMOS LOS VALORES AL USUARIO
esta = int(input('Introduzca una estacion '))
magni = int(input('Introduzca una magnitud '))

#CREAMOS LA FUNCION
def filtrofechas(dflimpio, esta, magni):
    return (dflimpio[(dflimpio['ESTACION']==esta)&(dflimpio['MAGNITUD']==magni)]).valor.describe()

#APLICAMOS LA FUNCION
filtrofechas(dflimpio, esta, magni)

Introduzca una estacion 4
Introduzca una magnitud 1

count    1461.000000
mean        7.329911
std        16.379050
min         1.000000
25%         4.000000
50%         7.000000
75%         9.000000
max       610.000000
Name: valor, dtype: float64

## Crear una funci√≥n que devuelva las emisiones medias mensuales de un contaminante y un a√±o dados para todos las estaciones.

In [129]:
#Aqu√≠ coment√≠ un error y cree un nuevo df eliminando las columnas y meses sin que el enunciado me lo pidiese
#En lugar de corregir ese error, aprovecho y convierto la fecha a a√±o y mes

#PEDIMOS LOS VALORES AL USUARIO
an = int(input('Introduzca el a√±o '))
magni = int(input('Introduzca una magnitud '))

#CREAMOS LA FUNCION
def filtrofechas(dflimpio, an, magni):
    
    #Aqu√≠ hacemos la funci√≥n que hace lo que pide el enunciado,
    #que es filtrar por mes y estaci√≥n los valores de una magnitud en un a√±o dados
    filtrado = (
        dflimpio[(dflimpio['MAGNITUD']==magni)&(dflimpio['fecha'].dt.year==an)]
    ).groupby([dflimpio['fecha'].dt.month,'ESTACION']
             ).valor.mean()
    #Luego renombramos a mes porque es queda mejor
    filtrado.index = filtrado.index.rename('MES', level=0)
    return filtrado

#APLICAMOS LA FUNCION
filtrofechas(dflimpio, an, magni)

Introduzca el a√±o 2016
Introduzca una magnitud 6

MES  ESTACION
1    4           0.432258
     8           0.474194
     16          0.396774
     18          0.380645
     24          0.264516
                   ...
12   35          0.345161
     36          0.174194
     39          0.696774
     56          0.709677
     57          0.532258
Name: valor, Length: 120, dtype: float64

## Crear un funci√≥n que reciba una estaci√≥n de medici√≥n y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [144]:
#PEDIMOS LOS VALORES AL USUARIO
esta = int(input('Introduzca una estacion '))

#CREAMOS LA FUNCION
def filtrofechas(dflimpio, esta):
    filtrado = pd.DataFrame(
        dflimpio[(dflimpio['ESTACION']==esta)].
        groupby([dflimpio['fecha'].dt.year,dflimpio['fecha'].dt.month]
                                                      ).valor.mean())
    filtrado.index = filtrado.index.rename('MES', level=0)
    filtrado.index = filtrado.index.rename('A√ëO', level=1)
    return filtrado

#APLICAMOS LA FUNCION
filtrofechas(dflimpio, esta)

Introduzca una estacion 4

              valor
MES  A√ëO
2016 1    41.983226
     2    34.715172
     3    30.280645
     4    26.979333
     5    24.943871
     6    26.654667
     7    23.849677
     8    20.585806
     9    39.776000
     10   56.956129
     11   52.110667
     12   80.626452
2017 1    59.981935
     2    42.992143
     3    37.562581
     4    28.816667
     5    24.888387
     6    25.797333
     7    25.396129
     8    20.685161
     9    37.204000
     10   57.469677
     11   71.575333
     12   55.566452
2018 1    46.587097
     2    36.288571
     3    16.793548
     4    20.987333
     5    19.559355
     6    21.220667
     7    21.979355
     8    24.270968
     9    35.416000
     10   44.323226
     11   37.244667
     12   67.458710
2019 1    66.976129
     2    59.730714
     3    32.868387
     4    21.240000
     5    19.134839
     6    19.996667
     7    20.237419
     8    19.425806
     9    23.698000
     10   30.145161
     11   16.866667
     12   34.491613